Importing Dependencies

In [10]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

DATA COLLECTION AND PREPROCESSING 

About the Dataset:

1. id: unique id for a news article
2. title: the title of a news article
3. author: author of the news article
4. text: the text of the article; could be incomplete
5. label: a label that marks whether the news article is real or fake:
           1: Fake news
           0: real News

In [ ]:
#Mention the dataset Path. Have a Own Dataset with the above columns 
news_dataset = pd.read_csv('Fake News Dataset.csv')

In [12]:
news_dataset.head()

,id,title,author,text,label
0,1,NASA discovers new exoplanet similar to Earth,John Smith,Schools are now integrating AI models to enhan...,0
1,2,Aliens spotted in downtown New York,Sarah Davis,Eyewitnesses report bright lights and strange ...,1
2,3,Celebrity claims to be time traveler from 3020,Olivia Walker,Scientists now admit that all space missions w...,1
3,4,Government announces new healthcare reform,Michael Brown,NASA confirmed that the new exoplanet discover...,0
4,5,Local schools adopt AI-based learning programs,Sarah Davis,The discovery adds to the biodiversity of the ...,0

In [ ]:
#Find the Missing Values. 
news_dataset.isnull().sum()
#In the Dataset i haven't given missing values because the purpose of this prediction is just to practice 
#with categorical data. So doing imputation techniques for missing values is not done here.

id        0
title     0
author    0
text      0
label     0
dtype: int64

FEATURE EXTRACTION

In [16]:
#Deriving a new feature that helps us in predicting the model better and constitutes to maximum variance in data. 
news_dataset['content'] = news_dataset['author'] + ' ' + news_dataset['title']
print(news_dataset['content'])

0       John Smith NASA discovers new exoplanet simila...
1         Sarah Davis Aliens spotted in downtown New York
2       Olivia Walker Celebrity claims to be time trav...
3       Michael Brown Government announces new healthc...
4       Sarah Davis Local schools adopt AI-based learn...
                              ...
9995    Emily Johnson Government announces new healthc...
9996    James Lewis New species of bird discovered in ...
9997    John Smith NASA discovers new exoplanet simila...
9998    James Lewis Government announces new healthcar...
9999    Michael Brown NASA discovers new exoplanet sim...
Name: content, Length: 10000, dtype: object